@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --overskrift-color: #F8FAFB;
    --underoverskrift-color: #4C4E96;
    --brødtekst-color: #2E2E2E;
    --bakgrunn-color: #F8FAFB;
    --overskrift-font: 'Montserrat', sans-serif;
    --brødtekst-font: 'Lora', serif;
}

body{
    background-color: var(--bakgrunn-color);
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    top: 0px;
    background-color: none;
}

.logo{
    text-decoration: none;
    color: rgb(125, 125, 125);
    font-weight: bold;
    opacity: 50%;
}

article{
    max-width: 1440px;
    margin: auto;
}

.parallax{
    height: 130vh;
    width: 100%;
    background-image: url('picvideo/bilde-av-mobil.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer{
    height: 10vh;
}

h1{
    color: var(--overskrift-color);
    font-family: var(--overskrift-font);
    background-color: none;
    font-weight: bold;
    text-align: center;
    margin: 2rem auto;
    font-size: 25px;
    max-width: 908px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.forste-avsnitt{
    padding-top: 3rem;
    font-weight: bolder;
    text-align: left;
    margin: 2rem 1rem;
    max-width: 908px;
    color: var(--underoverskrift-color);
}

p{
    color: var(--brødtekst-color);
    font-family: var(--brødtekst-font);
    font-weight: 500;
    line-height: 1.5;
    margin: 1rem;
    font-size: 18px;
    max-width: 908px;
    width: 90%;
    padding-bottom: 3rem;
}

img{
    height: 400px;
    width: auto;
    margin: 1rem auto;
    animation: fade-in forwards;
    animation-timeline: view();
}

.parallax-footer{
    height: 80vh;
    width: 100%;
    background-image: url('picvideo/ai-natur.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3{
        color: var(--overskrift-color);
        font-family: var(--overskrift-font);
        margin: 1rem auto;
        text-align: center;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
    p{
        color: var(--overskrift-color);
        font-family: var(--overskrift-font);
        margin: 0.3rem auto;
        text-align: center;
        width: 90%;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
}

@keyframes fade-in{
    from {scale: .8;}
    to {scale: 1;}
}

@media screen and (min-width: 425px) {
    h1{
        width: 90%;
    }
    p{
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    header{
        top: 20px;
        margin-left: 20px;
    }
    .logo{
        font-size: 130%;
    }
    .forste-avsnitt{
        width: 80%;
        margin: 0.5rem auto;
    }
    h1{
        font-size: 50px;
        margin: 2rem auto;
    }
    p{
        font-size: 20px;
        width: 80%;
        margin: 0.5rem auto;
    }
    img{
        display: flex;
        flex-direction: column;
        margin: 2rem auto;
    }
}

@media screen and (min-width: 1024px) {
    h1{
        font-size: 40px;
    }
    p{
        font-size: 20px;
    }
}