body{
  margin: 0;
}

.logo{
  text-decoration: none;
  color: black;
  opacity: 50%;
  font-weight: bold;
}

.parallax{
  background-image: url(picvideo/kiwi.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    width: 100%;
}

.spacer{
  height: 30vh;
}

h1{
  text-align: center;
  margin: 2rem auto;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p{
  width: 90%;
  margin: 1rem auto;
  line-height: 1.5;
  font-size: 18px;
}

ul{
  font-size: 18px;
  line-height: 1.5;
  width: 80%;
  margin: 1rem auto;
  padding: 0.5rem;
}

video{
  width: 100%;
  height: auto;
  animation: fade-in forwards;
  animation-timeline: view();
}

h2{
  text-align: center;
  margin: 2rem auto;
}

h3{
  text-align: center;
  margin: 2rem auto;
}

footer p{
  text-align: center;
  margin: 0.4rem auto;
}

@keyframes fade-in {
  from {scale: .8;}
  to {scale: 1;}
}

@media screen and (min-width: 420px) {
  h1{
    font-size: 40px;
  }
}

@media screen and (min-width: 760px) {
  h1{
    font-size: 50px;
  }
  p{
    font-size: 20px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  h1{
    font-size: 70px;
  }
  p{
    width: 80%;
    margin: 1rem auto;
  }

  video{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 1rem auto;
  }
}